.container-card {
    display: flex;
    flex-wrap: wrap;

    column-gap: 25px;

    width: 900px;

    margin: 0 auto;
    padding: 25px;

    background-color: rgba(104, 187, 132, 0.418);
}

.wrapper-card {
    position: relative;

    padding: 15px;
    background-color: #315587;
    
    text-align: center;
}

.product-name {
    color: #8b9bb1;

    margin: 0;

    font-weight: normal;
}

.product-button-add {
    cursor: pointer;

    border: 0;

    background-color: rgba(104, 187, 132, 0.418);
    color: #ccc;

    padding: 5px 10px;
    margin-top: 5px;

    &:hover {
        background-color: rgba(95, 150, 113, 0.418);
    }
}

.product-price {
    margin: 0;
    margin-bottom: 5px;

    color: #1d8680;
}

.btn-change {
    position: absolute;
    bottom: 67px;
    right: 16px;

    cursor: pointer;

    border: 0;
    border-radius: 5px;

    padding: 5px;

    background-color: rgba(5, 4, 7, 0.5);
    color: #ccc;

    &:hover {
        background-color: rgba(95, 150, 113, 0.418);
    }
}


// Корзина 

// .cart {
//     background-color: #b0b080;

//     width: 800px;

//     margin: 0 auto;
//     margin-top: 50px;
//     padding: 25px;

//     text-align: center;
// }

// .cart__title {
//     margin: 0;

//     font-weight: normal;
// }
